HAMZAM_DB=hamzam.db
HAMZAM_RISK_PCT=1
HAMZAM_MIN_SCORE=70
HAMZAM_SCAN_SECONDS=60
HAMZAM_SCAN_SYMBOLS=BTCUSDT,ETHUSDT,BNBUSDT,SOLUSDT,XRPUSDT
HAMZAM_SCAN_HTF=1h
HAMZAM_SCAN_LTF=15m
HAMZAM_ALERTS=false
HAMZAM_WEBHOOK_URL=
HAMZAM_TELEGRAM_BOT_TOKEN=
HAMZAM_TELEGRAM_CHAT_ID=
